@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 286 48% 95%;
    --foreground: 286 67% 20%;

    --card: 286 48% 94%;
    --card-foreground: 286 67% 20%;

    --popover: 286 48% 95%;
    --popover-foreground: 286 67% 20%;

    --primary: 286 67% 10%;
    --primary-foreground: 286 48% 95%;

    --secondary: 316 37% 94%;
    --secondary-foreground: 286 67% 20%;

    --muted: 316 27% 94%;
    --muted-foreground: 286 27% 37%;

    --accent: 346 70% 89%;
    --accent-foreground: 346 70% 20%;

    --destructive: 0 76% 90%;
    --destructive-foreground: 0 63% 31%;

    --border: 316 17% 91%;
    --input: 316 17% 91%;
    --ring: 286 67% 10%;

    --radius: 1rem;

    --sidebar-background: 286 48% 95%;

    --sidebar-foreground: 286 67% 25%;

    --sidebar-primary: 286 67% 10%;

    --sidebar-primary-foreground: 286 48% 95%;

    --sidebar-accent: 316 37% 94%;

    --sidebar-accent-foreground: 286 67% 20%;

    --sidebar-border: 316 17% 91%;

    --sidebar-ring: 316 7% 75%;

    --chart-1: 286 58% 39%;

    --chart-2: 316 76% 61%;

    --chart-3: 346 37% 24%;

    --chart-4: 16 74% 66%;

    --chart-5: 46 87% 67%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 286 5% 14%;
    --foreground: 286 47% 70%;

    --card: 286 5% 12%;
    --card-foreground: 286 47% 70%;

    --popover: 286 5% 14%;
    --popover-foreground: 286 47% 70%;

    --primary: 286 47% 86%;
    --primary-foreground: 286 5% 14%;

    --secondary: 316 7% 14%;
    --secondary-foreground: 286 47% 70%;

    --muted: 316 2% 14%;
    --muted-foreground: 316 7% 75%;

    --accent: 346 30% 18%;
    --accent-foreground: 346 70% 70%;

    --destructive: 0 33% 20%;
    --destructive-foreground: 0 91% 71%;

    --border: 316 2% 14%;
    --input: 316 1% 25%;
    --ring: 316 7% 83%;
    --sidebar-background: 286 5% 14%;
    --sidebar-foreground: 316 37% 95%;
    --sidebar-primary: 346 70% 55%;
    --sidebar-primary-foreground: 286 47% 70%;
    --sidebar-accent: 316 2% 14%;
    --sidebar-accent-foreground: 316 37% 95%;
    --sidebar-border: 316 2% 14%;
    --sidebar-ring: 316 7% 83%;
    --chart-1: 286 70% 50%;
    --chart-2: 46 75% 55%;
    --chart-3: 316 80% 55%;
    --chart-4: 206 65% 60%;
    --chart-5: 86 60% 45%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}